<!DOCTYPE html>
<html lang="en"></div>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinner Preparation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0Lj3_8eh0xYQLDhyh1pYwOF6l00mL7hIfww&s" alt="Logo" class="top-right-image">
                <h1 class="mt-5">Dinner Preparation Steps</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-6">
                <ul class="list-group">
                    {% for step in steps %}
                        <li class="list-group-item">
                            {% for word in step.text.split() %}
                                {% if word in step.underline %}
                                    <span class="underline-word" data-toggle="modal" data-target="#gifModal" data-gif="{{ step.gif }}">{{ word }}</span>
                                {% else %}
                                    {{ word }}
                                {% endif %}
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-right">
                <div id="timer" class="timer">00:00:00</div>
                <div class="buttons mt-3">
                    <button class="btn btn-primary" id="start">Start</button>
                    <button class="btn btn-warning" id="pause">Pause</button>
                    <button class="btn btn-danger" id="reset">Reset</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="gifModal" tabindex="-1" aria-labelledby="gifModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="gifModalLabel">Enjoy the GIF</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img src="" id="gifImage" alt="GIF" class="img-fluid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
