body {
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

ul.list-group {
    list-style-type: none;
    padding: 0;
}

ul.list-group li {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    font-size: 1.3em;
}


input[type="checkbox"] {
    width: 25px; /* Increase checkbox size */
    height: 25px; /* Increase checkbox size */
    vertical-align: middle;
    margin-right: 10px;
}

.large-checkbox {
    width: 25px;
    height: 25px;
}

.large-radio {
    width: 80px;
    height: 25px;
}

.ingredient-label {
    font-size: 1.25rem;
}
